@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a; /*#ededed;*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: system-ui, sans-serif;
  font-size: 14px;
}

th, td {
  padding: 12px 16px;
  text-align: left;
}

thead th {
  background: #f5f7fa;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #e1e5ea;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}
table thead {
  background-color: #363636;
  color: #ededed;
}